:root{
    --a:0;
}
body{
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}
.left{
    width: 25vw;
    padding: 10px;
}
.close{
    position: absolute;
    right: 25px;
    top: 25px;
    /* width: 50px; */
    cursor: pointer;
}
.home{
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: 700;
}
.library{
    min-height: 80vh;
    position: relative;
}
.heading {
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    padding: 23px 14px;
    font-size: 16px;
    align-items: center;
}
.heading img{
    width: 20px;
}
.songList{
    height: 400px;
    overflow-y: scroll;
    /* margin: px; */
}
.songList ul{
    padding: 0 12px;
    font-size: 13px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    /* padding: 12px 0; */
    border: 1px solid rgb(84, 84, 84);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}
.songList .info{
    width: 344px;
}
.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playNow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}
.footer{
    font-size: 10px;
    display: flex;
    gap: 3px;
    position: absolute;
    bottom: 0;
    padding: 34px 0;
}
.footer a{
    color: grey;
    text-decoration: none;
}
.right{
    margin: 16px 0;
    position: relative;

}
.right .header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 16, 16);
}
.right .nav{
    display: flex;
    gap: 15px;
}
.right .header >*{
    padding: 20px;
}
.right .nav{
    width: 14px;
    display: flex;
    filter: invert(0.5);
}
.hamburger{
    display: none;
    cursor: pointer;
}

.right button{
    margin:0 12px;
}
.right .signup-btn{
    background-color: rgb(9,9,9);
    color: rgb(167,167,167);
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border: none;
}
.right .signup-btn:hover{
    color: white;
    font-size: 1.05rem;
}
.right .login-btn{
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border-radius: 21px;
    padding: 10px 20px;
    outline: none;
    border: none;
}
.right .login-btn:hover{
    background-color: rgb(246,246,246);
    font-size: 1.05rem;
}
.spotifyPlaylists{
    padding: 16px;
}
.spotifyPlaylists .card{
    width: 200px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(14, 14, 14);
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* justify-content: center; */
    max-height: 60vh;
    overflow-y: auto;
}

.card >*{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.card h2{
    font-size: 16px;
}
.card p{
    color: rgb(167, 167, 167);
    font-size: 14px;
}
.card:hover{
    background-color: rgb(26, 26, 26);
    cursor: pointer;
    --a :1;
}
.play{
    position: relative;
}
.playy{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(30, 215, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 170px;
    right: 10px;
    opacity: var(--a);
    transition: all 0.2s ease-out;
}
.playbar{
    position: fixed;
    display: flex;
    justify-content: center;
    /* gap: 100px; */
    bottom: 20px;;
    width: 70vw;
    filter: invert(1);
    padding: 12px;
    background-color: #dad5d5;
    border-radius: 20px;
    min-height: 40px;
}
.infobar{
    display: flex;
    color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.song-info{
    width: 100%;
    text-align: center;
}
.song-info div{
    word-break: break-all;
}
.song-time{
    width: 120px;

    text-align: center;
}
.timevol{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
}
.volume{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}
.volume input{
    background-color: white;
}
.song-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}
.song-btn img{
    width: 25px;
    cursor: pointer;
}
.seekbar{
    height: 4px;
    width: 90%;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s;
}
@media (max-width: 1400px) {
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        z-index: 1;
        transition: all .3s;
        width: 370px;
        padding: 0;
    }
    .playbar{
        width: 88vw;
        font-size: 12px;
    }
    .infobar{
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .right{
        width: 100vw;
    }
    .hamburger{
        display: inline;
        filter: invert(0);

    }
    .cardContainer{
        margin: 0;
        justify-content: center;


    }

    .timevol{
        flex-direction: column;
        gap: 23px;
    }
    
}
@media (max-width: 500px){
    .card{
        width: 1vw;
    }
}